{% extends "admin/layout.njk" %}

{% block styles %}
  <title>Admin - Foodfy</title>
  <link rel="stylesheet" href="/styles/admin/recipes.css">
{% endblock %}

{% block content %}
  <section class="complete">
    <div class="main-text">
      <h1>Novo Chef</h1>
    </div>
    <form action="/admin/chefs" method="POST" enctype="multipart/form-data">
      <button class="submit" type="submit" onclick="AvatarUpload.hasMinimum(event)">Salvar chef</button>
      {% include "admin/chefs/fields.njk" %}
    </form>
  </section>
{% endblock %}