{% extends "admin/layout.njk" %}

{% block styles %}
  <title>Admin - Foodfy</title>
  <link rel="stylesheet" href="/styles/admin/recipes.css">
{% endblock %}

{% block content %}
  <section class="complete">
    <div class="main-text">
      <h1>Editando: {{ chef.name }}</h1>
    </div>

    <form id="delete-form" action="/admin/chefs?_method=DELETE" method="POST">
      <input hidden type="text" name="id" value="{{ chef.id }}">
      <button type="submit" class="delete chef-edit-button">Deletar</button>
    </form>

    <form action="/admin/chefs?_method=PUT" method="POST" enctype="multipart/form-data">
      <button class="submit" type="submit">Salvar</button>
      {% include "admin/chefs/fields.njk" %}
      <input hidden type="text" name="id" value="{{ chef.id }}">
    </form>
  </section>

  <script src="/scripts/deleteConfirm.js"></script>
{% endblock %}