<div class="chef">
  <div class="item">
    <div>Nome do Chef</div>
    <div>
      <input required type="text" name="name" placeholder="Nome do chef" value="{{ chef.name }}">
    </div>
  </div>

  <div class="item">
    <div>Avatar</div>
    <div>
      <input
        type="file"
        name="avatar"
        id="avatar"
        accept="image/*"
        onchange="AvatarUpload.handleFileInput(event)"
      >
      {% if file %}
      <p name="avatar_src" id="avatar_src">{{ file.path }}</p>
      {% endif %}
      <label for="avatar">
        <p>Enviar avatar</p>
      </label>
    </div>
  </div>
</div>