{% extends "admin/layout.njk" %}

{% block styles %}
  <title>Receitas - Foodfy</title>
  <link rel="stylesheet" href="/styles/admin.css">
{% endblock %}

{% block content %}
  <section class="complete">
    <div class="recipe-edit">
      <h1>Nova Receita</h1>
    </div>
    <form action="/admin/recipes" method="POST">
    <div class="item">
      <div>Autor da Receita</div>
      <div>
        <input required type="text" name="author" placeholder="Autor da Receita">
      </div>
    </div>
      {% include "admin/fields.njk" %}
    </form>
  </section>
  <script src="/scripts/addNewNode.js"></script>
  <script src="/scripts/required.js"></script>
{% endblock %}