{% extends "admin/layout.njk" %}
{% import "parts/search.njk" as search %}

{% block styles %}
  <link rel="stylesheet" href="/styles/admin/user.css">
{% endblock %}

{% block searchBlock %}
  {{ search.searchBox("users/index", "usuários") }} 
{% endblock %}

{% block content %}
  <div class="manager">
    <h1>Gerenciar Usuários {% if filter %} - Buscando por "{{ filter }}"{% endif %}</h1>
    {% if session.admin %}
    <a class="newButton" href="/users/register">Novo usuário</a>
    {% endif %}
  </div>
  <section class="users">
    {% for user in users %}
      <div class="user">
      {% if not user.nullItem %}
        <div class="user-info">
          <p class="user-name">{{ user.name }}</p>
          <p class="user-email">{{ user.email }}</p>
          <div class="buttons">
            <a class="editUser" href="/users/{{ user.id }}">Editar</a>
            <form id="delete-form" action="/users?_method=DELETE" method="POST">
              <input type="hidden" name="id" value="{{ user.id }}">
              <button type="submit" class="delete-user">Remover</button>
            </form>
          </div>
        </div>
      {% endif %}
      </div>
    {% endfor %}
  </section>
  <script src="/scripts/deleteConfirm.js"></script>
  {% include "parts/pagination.njk" %}
{% endblock %}