{% extends "normal/layout.njk" %}

{% block styles %}
  <title>Receitas - Foodfy</title>
  <link rel="stylesheet" href="/styles/normal/recipes.css">
{% endblock %}

{% block searchBlock %}
<form action="/recipes" method="GET">
  <input type="text" name="filter" placeholder="Buscar uma receita">
  <button class="filterButton" type="submit">Buscar</button>
</form>
{% endblock %}

{% block content %}
  <div class="intro-block">
    <div class="intro-text">
      <h1>As melhores receitas</h1>
      <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
    </div>

    <img src="/assets/chef.png" alt="Cooking chef" class="intro-img">
  </div>

  <h2 class="text-most-accessed">Mais acessadas</h2>

  <section class="recipes">
    {% for i in range(0, 6) %}
      <div class="recipe" id="{{ recipes[i].id }}">
        <img src="{{ recipes[i].src }}" alt="ilustrative img">
        <p class="recipe-name">{{ recipes[i].title }}</p>
        <p class="recipe-author">por
          {{ recipes[i].author }}</p>
      </div>
    {% endfor %}
  </section>
{% endblock %}