<!DOCTYPE html>
<html>

  <head>
  {% include "parts/links.njk" %}
    <link rel="stylesheet" href="/styles/normal/normal.css">
    {% block styles %}
      <title>Foodfy</title>
    {% endblock %}
  </head>

  <body>
    {% include "parts/messages.njk" %}
		<header>
			<section class=header-margin>
				{% include "parts/headerNormal.njk" %}
				{% block searchBlock %}{% endblock %}
			</section>
		</header>

    <div class="main">
      {% block content %}{% endblock %}
    </div>

    {% include "parts/footer.njk" %}
  </body>
  
  {% block script %}
    <script src="/scripts/cardClick.js"></script>
  {% endblock %}
  
  <script src="/scripts/currentPageHighlight.js"></script>
  <script src="/scripts/globalScripts.js"></script>
</html>