<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="/styles/global.css">
    {% block styles %}
      <title>Foodfy</title>
    {% endblock %}
  </head>

  <body>
    <header>
      <a href="/"><img src="/assets/logo.png" alt="Foodfy"></a>

      <div class="links">
        <a {% block currentAbout %} {% endblock %} href="/about">Sobre</a>
        <a {% block currentRecipe %} {% endblock %} href="/recipes">Receitas</a>
      </div>
    </header>

    {% block content %}{% endblock %}

    <footer>
      <p>Todos direitos reservados, receitas Foodfy.</p>
    </footer>

    {% block script %}
      <script src="/scripts/recipes.js"></script>
    {% endblock %}
  </body>

</html>