{% extends "user/layout.njk" %}

{% block styles %}
  <title>Receitas - Foodfy</title>
  <link rel="stylesheet" href="/styles/recipes.css">
{% endblock %}

{% block currentRecipe %}
  class="current"
{% endblock %}

{% block content %}
  <section class="recipes">
    {% for recipe in recipes %}
      <div class="recipe">
        <img src="{{ recipe.image }}" alt="ilustrative img">
        <p class="recipe-name">{{ recipe.title }}</p>
        <p class="recipe-author">por
          {{ recipe.author }}</p>
      </div>
    {% endfor %}
  </section>
{% endblock %}