<!DOCTYPE html>
<html>

  <head>
    {% include "parts/links.njk" %}
    <link rel="stylesheet" href="/styles/admin/admin.css">
    <title>Admin - Foodfy</title>
    {% block styles %}{% endblock %}
  </head>

  <body id="admin">
    {% include "parts/messages.njk" %}
		<header>
			<section class=header-margin>
				{% include "parts/headerAdmin.njk" %}
				{% block searchBlock %}{% endblock %}
				{% include "parts/exitButton.njk" %}
			</section>
		</header>

    <div class="main">
    {% block content %}{% endblock %}
    </div>

    {% include "parts/footer.njk" %}
  </body>
  
  {% block script %}{% endblock %}
  <script src="/scripts/currentPageHighlight.js"></script>
  <script src="/scripts/globalScripts.js"></script>
</html>