<!DOCTYPE html>
<html>

  <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/styles/admin/global.css">
    
    {% block styles %}
      <title>Admin - Foodfy</title>
    {% endblock %}
  </head>

  <body id="admin">
    <header>
      <a href="/admin/recipes"><img src="/assets/logoWhite.png" alt="Foodfy"></a>
      <div class="links">
        <a href="/admin/recipes">Receitas</a>
        <a href="/admin/chefs">Chefs</a>
      </div>
      {% block searchBlock %}
      {% endblock %}
    </header>

    <div class="main">
    {% block content %}{% endblock %}
    </div>

    <footer>
      <p>Todos direitos reservados, receitas Foodfy.</p>
    </footer>
  </body>
  <script src="/scripts/currentPageHighlight.js"></script>
  <script src="/scripts/globalScripts.js"></script>
</html>