/* HEADER */
#admin header {
	background-color: var(--color-letter);
	margin: 0;
	padding: 25px;
	z-index: 10;
	min-height: 88px;
	display: flex;
}

#admin header>a {
	margin-left: 175px;
	margin-right: 35px;
}

#admin header>a img {
	margin: 0;
	object-fit: none;
}

#admin .links {
	align-self: center;
}

#admin .links a {
	color: white;
}

.links a::after {
	background-color: white;
}

/* FILTER */
button.filterButton {
	background-color: var(--color-letter-subinfo);
}

button.filterButton:hover {
	background-color: #666;
}

/* MANAGER */
#admin .manager {
	margin-top: 50px;
	margin-bottom: 30px;
	display: grid;
	grid-template-columns: 1fr auto;
}

#admin .manager h1 {
	font-size: 24px;
}

.manager a.newButton,
.chef .item label p {
	text-align: right;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	background-color: var(--color-button);
	color: white;
	padding: 8px 16px;
	border-radius: 4px;
	margin-left: auto;
	cursor: pointer;

	transition: background-color 0.3s;
}

.manager a.newButton:hover,
.chef .item label p:hover {
	background-color: var(--color-button-hover);
}

/* PAGINATION */
.pagination {
	margin-top: 32px;
}

/* RECIPES FILE INPUT */
#photos-container {
	display: flex;
}


input[type='file'] {
	display: none
}

#photo-upload {
	margin: 0;
}

#photo-upload label {
	display: inline-block;
	color: var(--color-letter-subinfo);
	height: 150px;
	width: 150px;
	border: 1px solid #DDD;
	border-radius: 4px;

	display: flex;
	align-items: center;
	justify-content: center;

	cursor: pointer;
}

#photo-upload label i {
	font-size: 48px
}

#photo-preview {
	margin: 0;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 4px;

	height: 150px;

	align-items: center;
	justify-content: center;
}

#photo-preview div:first-child {
	margin-left: 4px;
}

#photo-preview .photo {
	width: 150px;
	height: 150px;
	position: relative;
	border: 1px solid #DDD;
	border-radius: 4px;
}

#photo-preview .photo img {
	width: 100%;
	height: 100%;
	object-fit: cover;

	border-radius: 4px;
}

#photo-preview .photo i {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;

	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 4px;
	color: red;
	background-color: rgba(255, 0, 0, 0.15);
	font-size: 500%;
	cursor: pointer;

	opacity: 0;
	transition: opacity 300ms;
}

#photo-preview .photo i:hover {
	opacity: 1;
}

/* CHEF FILE INPUT */
.chef .item label p {
	/*other changes with buttons*/
	margin-right: auto;
	display: inline-block;
}

.chef #avatar_src {
	color: var(--color-letter-rights);
	margin-bottom: 10px;
}