{% extends 'user/layout.njk' %}

{% block styles %}
  <title>Sobre - Foodfy</title>
  <link rel="stylesheet" href="/styles/user/about.css">
{% endblock %}

{% block content %}
  <div class="text-about">
    <h1>Sobre o Foodfy</h1>

    <p>{{ aboutText[0] }}</p>

    <h2>Como tudo começou...</h2>

    <p>{{ aboutText[1] }}</p>

    <h2>Nossas receitas</h2>

    <p>{{ aboutText[2] }}</p>
  </div>
{% endblock %}

{% block script %}{% endblock %}