:root {
	--color-letter: #111111;
	--color-letter-about-text: #444444;
	--color-letter-subinfo: #777777;
	--color-letter-rights: #999999;
	--color-footer-bg: #EEEEEE;
	--color-intro-bg: #FBDFDB;
	--color-button: #6558C3;
	--color-button-hover: #4e449c;
	--color-button-delete: #DC4747;
	--color-button-delete-hover: #bb3b3b;
	--color-success: #47dc47;
}

body {
	background-color: white;
}