* {
	padding: 0;
	border: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
}

html,
body {
	min-height: 100vh;
}

body {
	background: white;
	font-family: "Roboto", sans-serif;
	color: var(--color-letter);
	
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main {
	width: 100%;
	flex: 1;
	max-width: 1000px;
	padding: 0 50px;
	margin-bottom: 15px;
	position: relative;
}

/* HEADER */
header {
	display: flex;
	justify-content: center;
	width: 100vw;
}

header .header-margin {
	flex: 1;
	position: relative;
	max-width: 1000px;
	display: flex;
	align-items: center;
	padding: 25px 50px;
	min-height: 88px;
}

header .header-margin>a {
	display: flex;
	align-items: center;
}

header .header-margin>a img {
	margin: 0;
	margin-right: 30px;
	object-fit: none;
}

.links {
	max-width: 300px;
	display: flex;
	justify-content: space-between;
	flex: 1;
}

.links a {
	size: 16px;
	line-height: 19px;
	padding: 4px 0;
	position: relative;
}

header .header-margin>a {
	cursor: pointer;
	display: flex;
	justify-content: center;
}

.links a:hover {
	font-weight: bold;
}

.links .active {
	font-weight: bold;
}

.links a::after {
	content: "";
	width: 0;
	height: 2px;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	bottom: -1px;
	transition: width;
}

.links a:hover::after {
	width: 100%;
	transition: width 200ms cubic-bezier(1, 0.25, 0.60, 0.85);
}


/* FILTER */
.searchBox {
	margin-left: auto;
}

.searchBox form {
	display: grid;
	grid-template-columns: 1fr 95px;
	grid-gap: 8px;
	max-width: 300px;
}

.searchBox input[name="filter"] {
	font-size: 14px;
	color: var(--color-letter-rights);
	border: 1px solid #DDD;
	padding: 10px 15px;
	border-radius: 4px;
}

button.filterButton {
	border-radius: 4px;
	color: white;
	padding: 10px 20px;
	cursor: pointer;

	transition: all 0.3s;
}

@media(max-width: 800px) {
	.searchBox {
		visibility: hidden;
		display: none;
	}
}

/*FOOTER*/
footer {
	width: 100vw;
	background: var(--color-footer-bg);
	margin-top: 30px;
	padding: 23px;
	text-align: center;
}

footer p {
	color: var(--color-letter-rights);
	font-size: 14px;
	line-height: 16px;
}

/* ERROR PAGE */
.err-container {
	text-align: center;
	margin-top: 16px;
}

.err-container h1 {
	margin-bottom: 16px;
}

.err-container img+p {
	margin-top: 8px 0;
	color: var(--color-letter-rights);
	font-size: 14px;
}

.err-container img {
	width: 35%;
	height: 35%;
	object-fit: cover;
}

/*AJUST WINDOW SIZE*/
@media (max-width: 1000px) {
	.recipes {
		grid-template-columns: repeat(2, 1fr) !important;
	}
}

@media (max-width: 700px) {
	.recipes {
		grid-template-columns: 1fr !important;
	}
}

/* PAGINATION */
.pagination {
	margin-top: 16px;
	text-align: center;
}

.pagination a {
	text-decoration: none;
	color: var(--color-button);
	padding: 0 4px;
}

.pagination a:not(:last-child) {
	margin-right: 12px;
}

.pagination a:hover {
	color: var(--color-button-hover);
	font-weight: bold;
	border-bottom: 1px solid var(--color-button-hover);
}

.pagination a.active {
	color: var(--color-button-hover);
	font-weight: bold;
}

/* FORM */
input:not([type="checkbox"]),
textarea,
select,
#avatar_src {
	width: 100%;
	box-sizing: border-box;
	outline: none;
	resize: none;
	border: 1px solid #DDD;
	padding: 15px 20px;
	font-size: 16px;
	color: var(--color-letter);
	border-radius: 4px;
}

textarea {
	font-family: "Roboto", sans-serif;
	color: var(--color-letter);
}

.item>div:first-child {
	margin-top: 30px;
	font-weight: bold;
}

.item>div:not(:last-child) {
	margin-bottom: 10px;
}

.submit {
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	background-color: var(--color-button);
	color: white;
	padding: 8px 16px;
	border-radius: 4px;
	letter-spacing: 0.4px;
	margin-left: auto;
	cursor: pointer;
	min-width: 100px;
	transition: background-color 0.3s;
}

.submit:hover {
	background-color: var(--color-button-hover);
}

button.delete {
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	color: white;
	padding: 8px 16px;
	border-radius: 4px;
	letter-spacing: 0.4px;
	min-width: 100px;
	background-color: var(--color-button-delete);
	position: absolute;
	right: 0;
	top: 50px;
	cursor: pointer;

	transition: background-color 0.3s;
}

button.delete:hover {
	background-color: var(--color-button-delete-hover);

}

button.delete.chef-edit-button {
	/*right: 122px;*/
}

button.delete.user-edit-button {
	/*right: 100px;*/
}

.complete button.submit {
	position: absolute;
	top: 50px;
	right: 105px;
}

.complete button.submit.own {
	right: 0;
}