@keyframes hideMessage {
	99% {
		opacity: 0;
		top: -30px;
	}

	100% {
		opacity: 0;
		top: -25vh;
	}
}

.message {
	position: absolute;
	right: 0;
	width: 25vw;
	height: 23vh;
	display: flex;
	padding: 8px 16px;
	text-align: center;
	justify-content: center;
	align-items: center;
	z-index: 11;
	color: white;
	border-radius: 8px 0 8px 8px;

	opacity: 1;
	top: 0;
	animation: hideMessage 1s 4s ease-in forwards;
}

.message.error {
	background-color: var(--color-button-delete);
}

.message.success {
	background-color: var(--color-success);
}