{% extends "admin/layout.njk" %}
{% import "parts/search.njk" as search %}

{% block styles %}
  <link rel="stylesheet" href="/styles/admin/recipes.css">
{% endblock %}

{% block searchBlock %}
  {{ search.searchBox("admin/recipes", "receitas") }} 
{% endblock %}

{% block content %}
  <div class="manager">
    <h1>Gerenciar Receitas {% if filter %} - Buscando por "{{ filter }}"{% endif %}</h1>
    <a class="newButton" href="/admin/recipes/create">Nova receita</a>
  </div>
  <section class="recipes index">
    {% for recipe in recipes %}
      <div class="recipe">
        <img src="{{ recipe.src }}" alt="ilustrative img">
        <div class="recipe-info">
          <p class="recipe-name">{{ recipe.title }}</p>
          <p class="recipe-author">por {{ recipe.author }}</p>
          <a href="/admin/recipes/{{ recipe.id }}">Visualizar</a>
        </div>
      </div>
    {% endfor %}
  </section>

  {% include "parts/pagination.njk" %}
{% endblock %}