{% extends "admin/layout.njk" %}

{% block styles %}
  <title>Admin - Foodfy</title> 
  <link rel="stylesheet" href="/styles/admin/recipes.css">
{% endblock %}

{% block searchBlock %}
<form action="/admin/recipes" method="GET">
  <input type="text" name="filter" placeholder="Buscar uma receita" value="{{ filter }}">
  <button class="filterButton" type="submit">Buscar</button>
</form>
{% endblock %}

{% block content %}
  <div class="manager">
    <h1>Gerenciar Receitas {% if filter %} - Buscando por "{{ filter }}"{% endif %}</h1>
    <a class="newButton" href="/admin/recipes/create">Nova receita</a>
  </div>
  <section class="recipes index">
    {% for recipe in recipes %}
      <div class="recipe">
        <img src="{{ recipe.src }}" alt="ilustrative img">
        <div class="recipe-info">
          <p class="recipe-name">{{ recipe.title }}</p>
          <p class="recipe-author">por {{ recipe.author }}</p>
          <a href="/admin/recipes/{{ recipe.id }}">Visualizar</a>
        </div>
      </div>
    {% endfor %}
  </section>

  <div class="pagination"
  data-page={{ page }}
  data-limit={{ limit }}
  data-total={{ total }}
  data-filter={{ filter }}>
  </div>

  <script src="/scripts/paginate.js"></script>
{% endblock %}