<a href="/admin/recipes"><img src="/assets/logoWhite.png" alt="Foodfy"></a>
<div class="links">
	<a href="/admin/recipes">Receitas</a>
	{% if session.admin %}
	<a href="/admin/chefs">Chefs</a>
	<a href="/users/index">Usuários</a>
	{% else %}
	<a href="/users/{{ session.userId }}">Conta</a>
	{% endif %}
</div>