{% extends "normal/layout.njk" %}

{% block styles %}
  <title>Receitas - Foodfy</title>
  <link rel="stylesheet" href="/styles/normal/recipes.css">
{% endblock %}

{% block searchBlock %}
<form action="/recipes" method="GET">
  <input type="text" name="filter" placeholder="Buscar uma receita" value="{{ filter }}">
  <button class="filterButton" type="submit">Buscar</button>
</form>
{% endblock %}

{% block content %}
  {% if filter %}
  <h2>Buscando por "{{ filter }}"</h2>
  {% endif %}

  <section class="recipes">
    {% for recipe in recipes %}
      <div class="recipe" id="{{ recipe.id }}">
        <img src="{{ recipe.src }}" alt="ilustrative img">
        <p class="recipe-name">{{ recipe.title }}</p>
        <p class="recipe-author">por
          {{ recipe.author }}</p>
      </div>
    {% endfor %}
  </section>

  <div class="pagination"
  data-page={{ page }}
  data-limit={{ limit }}
  data-total={{ total }}
  data-filter={{ filter }}>
  </div>

  <script src="/scripts/paginate.js"></script>
{% endblock %}