{% extends "normal/layout.njk" %}
{% import "parts/search.njk" as search %}

{% block styles %}
  <title>Receitas - Foodfy</title>
  <link rel="stylesheet" href="/styles/normal/recipes.css">
{% endblock %}

{% block searchBlock %}
  {{ search.searchBox("recipes", "receitas") }} 
{% endblock %}

{% block content %}
  {% if filter %}
  <h2>Buscando por "{{ filter }}"</h2>
  {% endif %}

  <section class="recipes">
    {% for recipe in recipes %}
      <div class="recipe" id="{{ recipe.id }}">
        <img src="{{ recipe.src }}" alt="ilustrative img">
        <p class="recipe-name">{{ recipe.title }}</p>
        <p class="recipe-author">por
          {{ recipe.author }}</p>
      </div>
    {% endfor %}
  </section>

  {% include "parts/pagination.njk" %}
{% endblock %}