{% extends "normal/layout.njk" %}

{% block styles %}
  <title>Receitas - Foodfy</title>
  <link rel="stylesheet" href="/styles/normal/recipes.css">
{% endblock %}

{% block content %}
  <section class="complete">
    <div class="recipe">
      <div class="recipe-images">
        <div class="highlight">
          <img class="main-image" src="{{ files[0].src }}" alt="ilustrative img">
        </div>
        <div class="gallery">
          {% for image in files %}
          <img
            src="{{ image.src }}"
            alt="ilustrative img"
            {% if loop.index0 == 0 %}
            class="active"
            {% endif %}
            onclick="ImageGallery.setImage(event)"
          >
          {% endfor %}
        </div>
      </div>
      
      <div class="top-info">
        <h1>{{ recipe.title }}</h1>
        <p>por {{ recipe.author }}</p>
      </div>
      <div class="topic one">
        <h2>Ingredients</h2>
        <p class="showText">Esconder</p>
        <ul class="info">
          {% for ingredient in recipe.ingredients %}
            <li>{{ ingredient }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="topic two">
        <h2>Modo de preparo</h2>
        <p class="showText">Esconder</p>
        <ul class="info">
          {% for step in recipe.preparation %}
            <li>{{ step }}</li>
          {% endfor %}
        </ul>
      </div>
      {% if not (recipe.information == "") %}
      <div class="topic three">
        <h2>Informações Adicionais</h2>
        <p class="showText">Esconder</p>
        <p class="info">{{ recipe.information }}</p>
      </div>
      {% endif %}
    </div>
  </section>
{% endblock %}

{% block script %}
  <script src="/scripts/showInterface.js"></script>
{% endblock %}